# Pipeline de ETL - Projeto MVP: Bank Marketing

In [ ]:
# Importando bibliotecas
import pandas as pd
import numpy as np

In [ ]:
# Carregando os dados diretamente do arquivo CSV
file_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/00222/bank.zip"
df = pd.read_csv(file_url, sep=";")
df.head()

In [ ]:
# Verificando informações iniciais sobre os dados
df.info()
df.isnull().sum()

In [ ]:
# Padronizando nomes das colunas
df.columns = [col.strip().lower().replace(" ", "_") for col in df.columns]

In [ ]:
# Criando coluna binária para a variável alvo 'y'
df['y_bin'] = df['y'].map({'yes': 1, 'no': 0})

In [ ]:
# Verificando valores únicos e removendo inconsistências em colunas categóricas
for col in df.select_dtypes(include='object'):
    print(f"{col}: {df[col].unique()}")

In [ ]:
# Validação de dados: removendo registros inválidos se necessário (exemplo fictício)
df = df[df['age'] > 0]

In [ ]:
# Salvando o dataframe tratado em formato parquet
df.to_parquet("bank_data_tratado.parquet", index=False)

In [ ]:
# Visualizando o schema final
df.dtypes